name: Android CD

on:
  workflow_dispatch:

jobs:
  deploy_to_firebase:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Decode Keystore
      env:
        KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
      run: |
        echo $KEYSTORE_BASE64 | base64 --decode > release.jks

    - name: Set Keystore Environment Variables
      run: |
        echo "KEYSTORE_FILE=${{ github.workspace }}/release.jks" >> $GITHUB_ENV
        echo "KEYSTORE_PASSWORD=${{ secrets.KEYSTORE_PASSWORD }}" >> $GITHUB_ENV
        echo "KEY_ALIAS=${{ secrets.KEY_ALIAS }}" >> $GITHUB_ENV
        echo "KEY_PASSWORD=${{ secrets.KEY_PASSWORD }}" >> $GITHUB_ENV

    - name: Create google-services.json
      env:
        GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: echo "$GOOGLE_SERVICES_JSON" > app/google-services.json

    - name: Assemble Release APK
      run: ./gradlew assembleRelease

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install Firebase CLI
      run: npm install -g firebase-tools

    - name: Authenticate and Set Project ID
      env:
        SERVICE_ACCOUNT_JSON: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSON }}
      run: |
        echo "$SERVICE_ACCOUNT_JSON" > service_account.json
        echo "GOOGLE_APPLICATION_CREDENTIALS=${{ github.workspace }}/service_account.json" >> $GITHUB_ENV

    - name: Upload to Firebase App Distribution
      run: |
        firebase appdistribution:distribute app/build/outputs/apk/release/app-release.apk \
          --app "${{ secrets.FIREBASE_APP_ID }}"
