name: Android CD

on:
  workflow_dispatch:

jobs:
  deploy_to_firebase:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Decode Keystore
      env:
        KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
      run: |
        echo $KEYSTORE_BASE64 | base64 --decode > release.jks

    - name: Create google-services.json
      env:
        GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: echo "$GOOGLE_SERVICES_JSON" > app/google-services.json

    - name: Assemble Release APK
      env:
        KEYSTORE_FILE: ${{ github.workspace }}/release.jks
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: ./gradlew assembleRelease

    - name: Upload to Firebase App Distribution
      uses: codewithshihab/firebase-app-distribution-action@v1.4.0
      with:
        app_id: ${{ secrets.FIREBASE_APP_ID }}
        firebase_token: ${{ secrets.FIREBASE_TOKEN }}
        file_path: app/build/outputs/apk/release/app-release.apk
